<div class="span12" ng-controller="CodersController">

  <div class="row-fluid">
    <div class="span12">
      <div class="well">

        <h4>Coder Contest</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        ornare lorem sit amet tortor suscipit hendrerit. Proin eu imperdiet est,
        ut mattis lorem. Sed a ipsum sapien. Praesent quis erat eleifend,
        faucibus risus id, vestibulum nisl. Ut sit amet mi vitae ipsum
        sollicitudin tempus. Nulla eros nisi, faucibus nec vestibulum id,
        ultrices et mi. Aenean non pellentesque ante, sit amet adipiscing dolor.
        Etiam hendrerit lorem eu dignissim pretium.  In quam magna, posuere sed
        congue in, mollis at tortor.</p>

        <p>Aliquam bibendum pretium ante, sed gravida tellus porttitor ac. Proin
        nec pulvinar eros. Donec suscipit id sapien vitae elementum. Fusce eget
        elit vehicula, imperdiet magna non, cursus enim. Aliquam ac dictum
        tellus. Quisque scelerisque urna eu velit lacinia consectetur. Nulla
        lacinia mattis tortor, vestibulum bibendum elit tristique quis. Quisque
        tempor vehicula arcu. In ut lobortis diam. Sed convallis dolor vel
        ornare pharetra.</p>

      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <div class="highlight page-header">
        <h3>TOP 10 CODERS</h3>
      </div>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Votes</th>
            <th>Name</th>
            <th>Link</th>
          </tr>
        </thead>
        <tr ng-repeat="coder in coders | orderBy:'votes':true | limitTo: 10">
          <td>{{ coder.votes }}</td>
          <td><hover-bio coder="coder">{{ coder.name }}</hover-bio></td>
          <td><a class="btn btn-mini btn-primary"
              href="{{ coder.wikipedia | wikipediaLink }}" ng-show="coder.wikipedia">Wikipedia</a></td>
        </tr>
      </table>
    </div>
  </div>

</div>
