<div class="well">

  <h4>Coder Contest</h4>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare
  lorem sit amet tortor suscipit hendrerit. Proin eu imperdiet est, ut mattis
  lorem. Sed a ipsum sapien. Praesent quis erat eleifend, faucibus risus id,
  vestibulum nisl. Ut sit amet mi vitae ipsum sollicitudin tempus. Nulla eros
  nisi, faucibus nec vestibulum id, ultrices et mi. Aenean non pellentesque
  ante, sit amet adipiscing dolor. Etiam hendrerit lorem eu dignissim pretium.
  In quam magna, posuere sed congue in, mollis at tortor.</p>

  <p>Aliquam bibendum pretium ante, sed gravida tellus porttitor ac. Proin nec
  pulvinar eros. Donec suscipit id sapien vitae elementum. Fusce eget elit
  vehicula, imperdiet magna non, cursus enim. Aliquam ac dictum tellus. Quisque
  scelerisque urna eu velit lacinia consectetur. Nulla lacinia mattis tortor,
  vestibulum bibendum elit tristique quis. Quisque tempor vehicula arcu. In ut
  lobortis diam. Sed convallis dolor vel ornare pharetra.</p>

</div>
